	<% if @user.errors.any? %>
		<div class="panel panel-danger">
		  <div class="panel-heading">
		    Ошибки при сохранении пользователя:
		  </div>

		  <ul>
		  <% @user.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	<% end %>

<div class="form-group">
  <%= f.email_field :email, :autofocus => true, class:"form-control", placeholder: "Email адрес" %>
</div>

<div class="form-group">
  <%= f.label "Роль" %>
  <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
</div>

<div class="form-group">
  <%= f.password_field :password, class:"form-control", placeholder: "Пароль" %>
</div>

<div class="form-group">
  <%= f.password_field :password_confirmation, class:"form-control", placeholder: "Подтверждение пароля" %>
</div>