<ol class="breadcrumb">
  <li class="active">Все пользователи</li>
</ol>
<div class="jumbotron">
  <%= link_to 'Добавить нового пользователя', new_user_path, class: "btn btn-success btn-sm" %>
  <table class="table table-hover ">
    <thead>
      <tr>
        <th>Email</th>
        <th>Роль</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr class="warning">
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Редактирование', edit_user_path(user) %></td>
        <td><%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </table>
</div>