<%= url_for %>
<ol class="breadcrumb">
  <li><%= link_to ("Projects"), projects_path %></li>
  <li><%= link_to (@version.project.name), @version.project %></li>
  <li class="active"><%= @version.name %></li>
</ol>
<%= render 'makets/index' %>