<!DOCTYPE html>
<html>
<head>
  <title>MaketStorage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%# if current_page?(url_for(:controller => 'makets', :action => 'show')) %>
<% if params[:controller] == 'makets' %>
	<%= yield %>
<% else %>
	<div class="container">
		<div class="header">
					<h3 class="text-muted">Maket storage</h3>
			<% if user_signed_in? %>
					<%= render 'layouts/user_bar' %>
			<% end %>
		</div>
		<% if user_signed_in? %>
			<% if current_user.role == "Administrator" %>
				<%= render 'layouts/admin_navs' %>
			<% end %>
		<% end %>
		<%= yield %>
	</div>
<% end %>
</body>
</html>
